@using WebApp_TransportCompany.ViewModels
@model OrderFormPartialViewModel
@{
    ViewData["Title"] = "Edit";
}
@section Styles
{
    <link href="~/vendor/datetimepicker/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
}
<div class="card">
    <div class="card-header">
        <h1>Изменение</h1>
    </div>
    <div class="card-body">
        @{ 
            await Html.RenderPartialAsync("_OrderFormPartial", Model);
        }
    </div>
</div>
@section Scripts
{

}